---
import { Image } from "astro:assets";
import CircleCheck from "../Icons/CircleCheck.astro";
interface Props {
  title: string;
  body: string;
  href: string;
  bullets?: string[];
  imageSrc: string;
}

const { href, title, body, bullets, imageSrc } = Astro.props;
---

<div class="w-full">
  <div class="bg-white rounded-lg overflow-hidden relative">
    <div class="flex justify-center items-center h-auto">
      <div class="w-38 h-38 overflow-hidden inline-block">
        <Image
          src={imageSrc}
          width={250}
          height={250}
          alt="Circle Image"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
    <div class="px-6 py-4 text-center">
      <div class="font-bold text-xl mb-2 relative">
        {title}
      </div>
      <div class="left-1/4 w-2/3 h-0.5 bg-paletteColor2 mx-auto"></div>
      {
        bullets ? (
          <ul class="text-gray-700 text-base py-3 list-inside text-left list-none">
            {bullets.map((bullet) => (
              <li class="flex items-center">
                <div class="pr-4">
                  <CircleCheck
                    width={"18"}
                    height={"18"}
                    fill="paletteColor3"
                  />
                </div>

                {bullet}
              </li>
            ))}
          </ul>
        ) : (
          <p class="text-gray-700 text-base py-3">{body}</p>
        )
      }
    </div>
    <div class="px-6 py-4 bg-paletteColor1 text-center">
      <a href={href} class="text-white font-bold hover:text-paletteColor2">
        Learn More <span class="text-paletteColor2">&rarr;</span>
      </a>
    </div>
  </div>
</div>
