---
import { Image } from "astro:assets";
import CircleCheck from "../Icons/CircleCheck.astro";
import Modal from "../Modals/Modal.astro";
interface Props {
  title: string;
  modalBody: string;
  bullets?: string[];
  imageSrc: string;
  id: string;
  selectPlansOnly?: boolean;
}

const { title, modalBody, bullets, imageSrc, id, selectPlansOnly } =
  Astro.props;
---

<div class="w-full">
  <div class="bg-white rounded-lg overflow-hidden relative">
    <div class="flex justify-center items-center h-auto">
      <div class="w-38 h-38 overflow-hidden inline-block">
        <Image
          src={imageSrc}
          width={250}
          height={250}
          alt="Circle Image"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
    <div class="px-6 py-4 text-center">
      <div class="font-bold text-xl mb-2 relative">
        {title}
        {
          selectPlansOnly && (
            <div class="text-sm text-gray-500 font-normal mt-2">
              Select plans only
            </div>
          )
        }
      </div>
      <div class="left-1/4 w-2/3 h-0.5 bg-paletteColor2 mx-auto"></div>
      {
        bullets ? (
          <ul class="text-gray-700 text-base py-3 list-inside text-left list-none">
            {bullets.map((bullet) => (
              <li class="flex items-center">
                <div class="pr-4">
                  <CircleCheck
                    width={"18"}
                    height={"18"}
                    fill="paletteColor3"
                  />
                </div>

                {bullet}
              </li>
            ))}
          </ul>
        ) : (
          <p class="text-gray-700 text-base py-3">{modalBody}</p>
        )
      }
    </div>
    <div class="px-6 py-4 bg-paletteColor1 text-center">
      <button
        id={`modal-toggle-${id}`}
        class="text-white font-bold hover:text-paletteColor2 duration-300 w-full"
      >
        Learn More <span class="text-paletteColor2">&rarr;</span>
      </button>
    </div>
  </div>
</div>

<Modal id={id} />

<script define:vars={{ id, title, modalBody }}>
document.addEventListener("astro:page-load", () => {
  const toggle = document.getElementById(`modal-toggle-${id}`);

  toggle?.addEventListener("click", () => {
    const modal = document.getElementById(`modal-${id}`);
    const modalTitle = document.getElementById(`modal-title-${id}`);
    const modalBodyEl = document.getElementById(`modal-body-${id}`);

    modal?.classList.add("block");
    modal?.classList.remove("hidden");

    if (modalTitle) {
      modalTitle.textContent = `${title}`;
    }
    if (modalBodyEl) {
      modalBodyEl.textContent = `${modalBody}`;
    }
  });
});
</script>
