---
import CircleCheck from "../Icons/CircleCheck.astro";
interface Props {
  subTitle: string;
  price: number;
  type: string;
  description?: string;
  priceDescription?: string;
  packageName: string;
  buttonLabel?: string;
  bullets?: string[];
  disclaimer?: string;
}

const {
  subTitle,
  price,
  description,
  packageName,
  bullets,
  type,
  buttonLabel = "Let's Get Started",
  priceDescription,
  disclaimer,
} = Astro.props;
---

<div class="w-full border border-gray-300 rounded-lg shadow-xl">
  <div class="bg-paletteColor1 text-white font-bold py-2 px-4 rounded-t-lg">
    {packageName}
  </div>
  <div class="bg-white rounded-lg overflow-hidden relative">
    <div class="px-6 py-4 text-center">
      <p class="text-paletteColor1 font-bold px-4 rounded">{subTitle}</p>
      <p class="text-gray-700 text-base py-3">{description}</p>
      <div class="font-bold text-4xl mb-2 relative">
        <span class="text-gray-500 text-sm">$</span>
        <span class="text-paletteColor1 text-5xl">{price}</span>
        {
          type === "monthly" && (
            <span class="text-gray-500 text-lg"> / month</span>
          )
        }
        <div class="text-gray-500 text-xs pt-2">
          {priceDescription}
        </div>
      </div>
      <p class="text-gray-700 text-base py-1">{disclaimer}</p>
      {
        bullets ? (
          <ul class="text-gray-700 text-base py-3 list-inside text-left list-none">
            {bullets.map((bullet) => (
              <li class="flex items-center">
                <div class="pr-4">
                  <CircleCheck
                    width={"18"}
                    height={"18"}
                    fill="paletteColor2"
                  />
                </div>

                {bullet}
              </li>
            ))}
          </ul>
        ) : null
      }
    </div>
    <div class="px-6 py-4 bg-paletteColor1 text-center">
      <a
        href="/contact"
        class="block text-white font-bold hover:text-paletteColor2 duration-300 py-2 px-4 rounded"
      >
        {buttonLabel}
        <span class="text-paletteColor2">&rarr;</span>
      </a>
    </div>
  </div>
</div>
